<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="container header">
      <h1>📚 Livraria Monolito</h1>
      <nav>
        <a href="/livros">Catálogo</a>
        <a href="/livros/novo">Novo livro</a>
      </nav>
    </header>

    <main class="container">{{{body}}}</main>
  </body>
</html>
